<div class="media-menu">
  <div class="media-buttons">
    <button class="undecorated">Home</button><!--
      --><button class="undecorated">Search</button><!--
      --><button class="undecorated">Settings</button>
  </div>
</div>