<div class="media-menu">
  <div class="media-buttons">
    {{#link-to home}}Home{{/link-to}}<!--
    -->{{#link-to search}}Search{{/link-to}}<!--
    -->{{#link-to settings}}Settings{{/link-to}}
  </div>
</div>