{{#link-to link media.id}}

  <div class="media-cover-overlay">
    {{yield}}
  </div>

  {{#if media.poster_path}}
    <img class="media-cover-poster" src="{{media.poster_path}}">
  {{else}}
    <!-- poster_path attribute not present -->
    <img class="media-cover-poster" src="http://www.clker.com/cliparts/0/4/6/1/11949904011525963418file_broken.svg.med.png">
  {{/if}}

{{/link-to}}
