<div class="tv">
  <div class="tv-cards">
    {{~#each modelByTitle as |show|~}}
      {{#media-box media=show link="tv.show"}}
        <p class="media-cover-title">{{show.title}}</p>
      {{/media-box}}
    {{~/each~}}
  </div>
</div>

{{media-menu home="tv.index"}}
