<div class="media">
  <div class="season-cards">
    {{~#each seasonByNumber as |season|~}}
      <div class="tv-seasons">
        <h3>{{season.title}}</h3>
      </div>
    {{~/each~}}
  </div>
</div>

{{media-menu home="tv.index" search="tv.search"}}