<div class="header">
  <div class="media-links">
    <div class="movie-link"><a>Movies</a></div><!--
    --><div class="tv-link"><a>TV</a></div><!--
    --><div class="music-link"><a>Music</a></div>
  </div>
</div>
<div class="content">
  {{outlet}}
</div>
