<!-- Main nav menu -->
<div class="header">
  <div class="media-links">
    <button class="undecorated">Movies</button><!--
    --><button class="undecorated">TV</button><!--
    --><button class="undecorated">Music</button>
  </div>
</div>

<div class="content">
  {{outlet}}
</div>
