<div class="tv">
  <div class="tv-cards">
    {{~#each model as |show|~}}
      <div class="media-cover">
        <div class="media-cover-overlay">
          <p class="media-cover-title">{{show.show_title}}</p>
          <p>Status: {{show.status}}</p>
          <p>Network: {{show.network}}</p>
        </div>
        <img class="media-cover-poster" src="{{show.cover_url}}">
      </div>
    {{~/each~}}
  </div>
</div>

<div class="media-menu">
  <div class="media-buttons">
    <button class="undecorated">Home</button><!--
      --><button class="undecorated">Search</button><!--
      --><button class="undecorated">Settings</button>
  </div>
</div>
