<div class="tv">
  <div class="tv-cards">
    {{~#each model as |show|~}}
      <div class="media-cover">
        <img class="media-cover-poster" src="{{show.cover_url}}">
      </div>
    {{~/each~}}
  </div>
  <!--
  <div class="media-menu">

  </div>
  -->
</div>